<div class="banner">
  <div class="banner-content">
    <p>Complétez votre puzzle <br> avec les pièces de rechange que vous ne trouvez plus</p>
    <%= link_to 'Commandez votre pièce', 'commande.html', class: 'btn btn-banner' %>
  </div>
</div>
