<div class="banner">
  <div class="banner-content">
    <p>Préservez votre patrimoine automobile<br>Continuez l'aventure</p>
    <%= link_to 'Contactez-nous', 'commande.html', class: 'btn btn-banner' %>
  </div>
</div>
