<div class="CCM-global">
  <h1>Comment ça marche</h1>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="step" id="step-1">
        <div class="step-title">
          <div class="step-nb">
            1
          </div>
          <h3>Passez commande</h3>
        </div>
        <p>Décrivez brièvement  votre besoin.</p>
        <p>Nous vous recontactons dans les 24h pour définir un cahier des charges précis à l'aide de photos, croquis et cotes.</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="step" id="step-2">
        <div class="step-title">
          <div class="step-nb">
            2
          </div>
          <h3>Recevez un devis</h3>
        </div>
        <p>Nous effectuons un devis gratuit sous un délai de deux semaines.</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="step" id="step-3">
        <div class="step-title">
          <div class="step-nb">
            3
          </div>
          <h3>Suivez la production</h3>
        </div>
        <p>Nous offrons un suivi des étapes de production : de la modélisation jusqu'à la finition, en passant par l'impression.</p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="step" id="step-4">
        <div class="step-title">
          <div class="step-nb">
            4
          </div>
          <h3>Recevez votre pièce</h3>
        </div>
        <p>Nous vous livrons votre pièce finie à domicile.</p>
      </div>
    </div>

  </div>
</div>
