<div class="recap">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="step" id="step-1-recap">
        <div class="step-title">
          <div class="step-nb">
            1
          </div>
          <h3>Décrivez votre besoin</h3>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="step" id="step-2">
        <div class="step-title">
          <div class="step-nb">
            2
          </div>
          <h3>Recevez un devis</h3>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="step" id="step-3">
        <div class="step-title">
          <div class="step-nb">
            3
          </div>
          <h3>Suivez la production</h3>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="step" id="step-4">
        <div class="step-title">
          <div class="step-nb">
            4
          </div>
          <h3>Recevez votre pièce</h3>
        </div>
      </div>
    </div>

  </div>
</div>
