.banner {
  // background //
  background: linear-gradient(to right, rgba(168, 63, 68, 0.9), rgba(88, 27, 35, 0.7)), url('../../images/banner.jpg');
  background-size: cover;
  background-position: center;
  background-position-y: -100px;
  height: 60vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-content {
  //dimensions//
  height: 60%;
  width: 80%;
  // flex config //
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // banner items //
  p {
    color: $beige;
    font-size: 250%;
  }
}

.btn {

}

.btn-banner {
  color: $beige;
  border: 2px solid $beige;
  &:hover {
    color: $rose;
    border-color: $rose;
  }
}



@media (max-width: 660px) {
  .banner {
    background-position-y: -50px;
    height: 35vh;
  }
  .banner-content {
    p {
      font-size: 30px;
    }
  }
  .btn {
    font-size: 18px;
  }
}

@media (max-width: 530px) {
  .banner-content {
    p {
      font-size: 28px;
    }
  }
  .btn {
    font-size: 16px;
  }
}


@media (max-width: 400px) {
  .banner-content {
    p {
      font-size: 25px;
    }
  }
  .btn {
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  .banner {
    background-position-y: -20px;
    height: 32vh;
  }
  .banner-content {
    p {
      font-size: 16px;
    }
  }
  .btn {
    font-size: 9px;
    border: solid 1px;
  }
}

@media (max-width: 220px) {
  .banner {
    background-position-y: -10px;
    height: 32vh;
  }
  .banner-content {
    p {
      font-size: 11px;
    }
  }
  .btn {
    font-size: 7px;
    border: solid 1px;
  }
}
