.CCM-global{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 50px;
  margin: 20px 0;
  padding-bottom: 6px;
  background-color: rgb(250,250,250);
  h1 {
    color: $rose;
    font-size: 25px;
    border-bottom: solid 1px rgba(5,5,5,0.5);
  }
  h2 {
    font-weight: bold;
    font-size: 14px;
  }
  #colored {
    color: $rose;
  }
}

.big-box {
  display: flex;
  justify-content: space-around;
}

.box {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1050px) {
  .big-box {
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  .box {
    flex-direction: column;
  }
}

.step {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  p {
    font-size: 13px;
  }
}

.step-nb {
  height: 30px;
  width: 30px;
  border: 1.3px solid $rose;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  margin-right: 12px;
  color: $rose;
}

.step-title {
  display: flex;
  align-items: baseline;
  h3 {
    font-size: 18px;
    color: $orage;
  }
}

@media (max-width: 600px) {
  .CCM-global {
    padding: 10px;
    h1 {
      font-size: 17px;
    }
  }
  .step-title {
    h3 {
      font-size: 14px;
    }
  }
  .step {
    p {
      font-size: 12px;
    }
  }
}

@media (max-width: 300px) {
  .CCM-global {
    padding: 15px;
    h1 {
      font-size: 13px;
      margin: 3px;
    }
  }
  .step-nb {
    height: 20px;
    width: 20px;
    font-size: 12px;
  }
  .step-title {
    h3 {
      font-size: 12px;
      margin: 0;
    }
  }
  .step {
    p {
      font-size: 10px;
    }
  }
  .btn-card {
    font-size: 10px;
  }
}

