.navbar {
  // height: 5vh;
  // width: 100%;
  // position: fixed;
  // background-color: rgba(30,30,30,0.2);
  background-color: $ivoire;
  height: 16vh;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.navbar-title {
  margin: 0 auto;
  h1{
    margin: 0;
    color: $rose;
    font-size: 10vh;
  }
  a:hover {
    text-decoration: none;
  }
}

.navbar-links {
  position: absolute;
  right: 30px;
  align-self: center;
  display: flex;
}

.navbar-link {
  padding: 10px 30px;
  color: rgba(5,5,5,1);
  font-size: 14px;
  &:hover {
    color: $rose;
    text-decoration: none;
  }
  &:focus {
    color: $rose;
  }
}

.dropdown {
  a {
    font-size: 12px;
  }
}
