.navbar {
  height: 5vh;
  width: 100%;
  position: fixed;
  background-color: rgba(30,30,30,0.2);

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-link {
  padding: 10px 30px;
  color: $beige;
  font-size: 12px;
}
