.realisations {
  margin: 15vh 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h1 {
    font-size: 25px;
    font-weight: bold;
    max-width: 70%;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 18px;
    font-style: italic;
  }
  p {
    font-size: 14px;
    max-width: 85%;
    text-align: justify;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-weight: bold;
    font-size: 14px;
  }
  h6 {
    font-size: 23px;
  }
}

.feedback {
  text-align: right;
  p {
    text-align: right !important;
    max-width: 100%;
  }
}

.article {
  padding: 30px;
}


@media (max-width: 900px) {
  .realisations {
    h1 {
      font-size: 14px;
    }
    h2 {
      font-size: 12px;
    }
    p {
      font-size: 10px;
    }
  }
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
