#home {
  margin: 30px 100px;
  h1 {
    font-size: 25px;
    font-weight: bold;
    max-width: 70%;
  }
  p {
    font-size: 14px;
    max-width: 85%;
    text-align: justify;
  }
}

.img-container{
  flex: 1 1 50%;
  padding: 30px;
  p {
    font-size: 12px;
  }
}

.card-img {
  max-width: 100%;
  height: auto;
}

#manifesto {
  p {
    font-size: 12px;
    font-weight: bold;
    max-width: 85%;
    text-align: justify;
    color: rgb(5,5,5);
  }
}

@media (max-width: 900px) {
  #home {
    margin: 15px
    h1 {
      font-size: 14px;
    }
    p {
      font-size: 10px;
    }
  }
}

@media (max-width: 600px) {
  #home {
    margin: 5px;
  }
}
