<div class="row footer">
  <div class="col-xs-12 col-sm-6">
    <div class="infos">
      <div class="contact">
        <h4>Contact</h4>
        <p>contact.ubac@gmail.com - 06.43.35.09.29</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="newsletter">
      <h4>Newsletter</h4>
      <form accept-charset="UTF-8" action="https://formkeep.com/f/db69bdd6c615" method="POST" class="newsletter-form">
        <input type="email" name="email" placeholder="Votre email">
        <input type="text" name="name" placeholder="Votre nom">
        <input type="hidden" name="utf8" value="✓">
        <button type="submit" class="submit-button">S'inscrire</button>
      </form>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="mentions">
      <%= link_to "Conditions générales de vente", "cgv.html", class: "hypertext" %>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="mentions droits">
      <p>Ubac - Tous droits réservés<br>
      14 avenue des terrasses - 92430 Marnes-la-Coquette</p>
    </div>
  </div>
</div>
