<div class="navbar">
  <div class="navbar-title">
    <h1>Ubac</h1>
  </div>
  <div class="navbar-links">

    <%= link_to 'Acceuil', 'index.html', class: "navbar-link" %>
    <%= link_to 'Commande', 'commande.html', class: "navbar-link" %>
    <%= link_to 'Blog', '#', class: "navbar-link hidden" %>

    <div class="dropdown">
      <i id="menu" class="fa fa-bars dropdown-toggle hidden" data-toggle="dropdown" aria-hidden="true"></i>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="menu">
          <li><a href="#">Acceuil</a></li>
          <li><a href="#">Commande</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
    </div>
  </div>
</div>

