<div class="row card">
  <div class="col-xs-12 col-sm-6 card-text">
    <h1>
      <%= title %>
    </h1>
    <% description.each do |paragraph| %>
      <p>
        <%= paragraph%>
      </p>
    <% end %>
    <%= link_to "Commandez votre pièce", '#', class: 'btn btn-card' %>
  </div>
  <div class="col-xs-12 col-sm-6 card-img" style="background-image: url(<%= img_url %>)"></div>
</div>
