<%= link_to 'home.html' do %>
  <p>test</p>
<% end %>
<div class="row">
  <div class="col-xs-12 col-md-4">
      <div class="article">
        <h1>Préserver son patrimoine automobile</h1>
        <p>Numérisez vos pièces automobiles pour guarantir la pérennité de vos pièces.</p>
        <div class="img-article">
          <img src="images/macro_scan.JPG" alt="voiture de collection" class="article-img">
        </div>
      </div>
  </div>
</div>

