---
layout: layout_2
---

<div class="realisations">
  <div class="row">
    <h1>Fabrication de cabochons chromés | Bagheera Série 1</h1>
    <div class="col-xs-12 col-md-6">
      <div class="article">
        <h4>Projet proposé par Dominique</h4>
        <h5>"Je pense que les propriétaires de série 1 sont en recherche, car introuvable actuellement."</h5>

        <p>Refabrication par moulage dans un polymère souple pour éviter la rupture des pattes.</p>
        <p>Cabochons chromés par métallisation sous vide, très bonne tenue aux UVs et aux intempéries.</p>

        <h6>100€TTC pièce</h6>
        <p>Inscriptions : 1 / 20</p>
        <%= link_to "S'inscrire", 'commande.html', class: 'btn btn-home' %>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="images/bagheera.jpg" alt="Enjoliveur de feu arrière" class="card-img rotate180">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Afin de rendre ce projet réalisable, le volume de la série doit être suffisant pour rentabiliser les coûts de rétro-conception de la pièce et de la fabrication du moule.</p>
      <p>C'est pourquoi, Dominique vous propose de vous inscrire sur la liste d'attente.</p>
      <p>Si suffisamment de collectionneurs s'inscrivent, alors la production débutera et vos cabochons vous seront livrés.</p>
      <p>Après inscription, vous recevrez un devis formel. Le prix par cabochon est de 100€TTC.</p>
    </div>
  </div>
</div>
