---
layout: layout_2
---

<div class="contact-page">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p>Contactez-nous au 06.43.35.09.29 ou à contact.ubac@gmail.com</p>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="images/matra_530.jpg" alt="voiture de collection" class="card-img">
      </div>
    </div>
  </div>
</div>
