---
layout: layout_2
---

<div class="realisations">
  <div class="row">
    <h1>Rétro-conception d'un enjoliveur de feu arrière | Matra 530</h1>
    <div class="col-xs-12 col-md-6">
      <div class="article">
        <p>Dans l'objectif de participer à la préservation du patrimoine Matra, nous mettons à profit notre savoir-faire et nos outils de métrologie.</p>
      <p>Grâce à une machine à mesurer tridimensionnelle, nous pouvons prendre les cotes de pièces complexes.</p>
      <p>Une première prise de cote nous permet de réaliser une ébauche de modèle CAO (Conception Assistée par Ordinateur). Nous comparons alors le modèle CAO avec la pièce réelle en mesurant l'écart dimensionnel, ce qui nous permet d'ajuster notre modèle numérique.</p>
      <p>Grâce à notre méthodologie, nous obtenons des cotes dimensionnelles et géométriques précises au dixième de millimètre.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="images/enjo_matra.JPG" alt="voiture de collection" class="card-img">
      </div>
    </div>
  </div>
</div>
