---
layout: layout_2
---

<div class="realisations">
  <div class="row">
    <h1>Fabrication d'un enjoliveur de feu arrière | Matra 530</h1>
    <div class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="images/fabrication_alu_enjo.JPG" alt="Enjoliveur de feu arrière" class="card-img">
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="images/enjo_original_refabrique.JPG" alt="Enjoliveur de feu arrière" class="card-img">
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="article">
        <p>Afin de répondre aux critères de fonctionnalité, d'esthétisme et de coût, nous avons adapté la géométrie de la pièce afin de pouvoir l'usiner dans un alliage d'aluminium.</p>
        <p>L'avantage de l'aluminium par rapport au plastique d'origine est sa tenue dans le temps.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="article">
        <p>Les pièces sont anodisées en sortie de machine pour lutter contre la corrosion.</p>
        <p>Différentes finitions, polie, chromé, sont possibles selon votre envie.</p>
      </div>
    </div>
  </div>
</div>

