<%= partial "components/banner" %>

<div class="container">
  <div class="row" id="home">
    <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1">
      <h1>Fabrication à la demande<br>de vos pièces de rechange</h1>
      <p>Au service des clubs, des garages et des particuliers, nous fabriquons les pièces devenues introuvables.</p>
      <p>Pour toutes marques et pour tous modèles, pour les plus rares et les plus atypiques, pour toutes époques, nous mettons notre savoir-faire au service de votre voiture.</p>
      <p>Pour une pièce sur-mesure à l'unité ou pour une série, nous vous proposerons le procédé de fabrication et le matériau adéquats pour répondre à vos besoins esthétiques et mécaniques, à vos exigences d'authenticité et de qualité.</p>

      </p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-5">
      <div class="img-container">
        <img src="images/banner_reduce.jpg" alt="voiture de collection" class="card-img">
      </div>
    </div>
  </div>
</div>

<div class="jumbotron grey-banner" id="home">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
      <h1>Rétro-conception<br>de votre pièce</h1>
      <p>La préservation de votre patrimoine automobile dépend de la qualité des plans.</p>
      <p>Afin de palier à la disparition des plans, les outils de mesure 3D permettent de coter et de redéfinir les tolérances géométriques et dimensionnelles nécessaires à une re-fabrication de qualité.</p>
      <%= link_to 'Demandez votre rétro-conception', 'commande.html', class: 'btn btn-home' %>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-4">
      <div class="img-container" id="numerisation">
        <img src="images/plan.jpg" alt="plan" class="card-img">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-9">

    </div>
  </div>
</div>

<div class="container" id="home">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2">
      <div class="img-container" id="france">
        <img src="images/france.png" alt="Ateliers français">
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-5 col-sm-5">
      <h1>Des ateliers français</h1>
      <p>Basé dans le Maine-et-Loire, nous guarantissons une fabrication exclusivement française des pièces de rechange.</p>
    </div>
  </div>
</div>

<div class="container" id="home">
  <div class="center-title">
    <h1>Des pièces uniques pour des voitures uniques</h1>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2" id="tresor">
      <p>Chaque voiture est une aventure technologique, industrielle et sentimentale.</p>
      <p>Pour continuer l'aventure, obtenez enfin la pièce introuvable qui manque pour fignoler votre voiture.</p>
      <% link_to 'contact.html', class: 'home-link' do %>
        <p>Demandez un devis</p>
      <% end %>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-4">
      <div class="img-container" id="numerisation">
        <img src="images/cabochons_moules.JPG" alt="pièces de rechange" class="card-img">
      </div>
    </div>
  </div>
  <div class="center-title">
    <%= link_to 'Voir nos réalisations', 'realisations.html', class: 'btn btn-home', style: 'margin-right:20px' %>
    <%= link_to 'Voir nos projets', 'projets.html', class: 'btn btn-home' %>
  </div>
</div>
