<%= partial "components/banner" %>

<div class="container">
  <div class="row" id="home">
    <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1">
      <h1>Un service de fabrication<br>à la demande<br>de pièces de rechange</h1>
      <p>Au service des clubs, des garages et des particuliers, nous fabriquons vos pièces décoratives.</p>
      <p>Pour toutes marques et pour tous modèles.<br>
      Pour une pièce sur-mesure à l'unité ou pour une série.</p>
      <p>Avec des matériaux et des procédés adaptés à vos besoins :</p>
      <p>Résines, plastiques, métaux.<br>
      Moulage, usinage, fabrication additive.</p>
      </p>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-5">
      <div class="img-container">
        <img src="images/banner_reduce.jpg" alt="voiture de collection" class="card-img">
      </div>
    </div>
  </div>
</div>

<div class="container" id="home">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2">
      <div class="img-container" id="france">
        <img src="images/france.png" alt="Ateliers français">
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-5 col-sm-5">
      <h1>Des ateliers français</h1>
      <p>Basé dans le Maine-et-Loire, nous guarantissons une fabrication exclusivement française des pièces de rechange.</p>
    </div>
  </div>
</div>

<div class="jumbotron grey-banner" id="home">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2">
      <h1>Numérisez votre voiture de collection</h1>
      <p>La numérisation des pièces de rechange est un enjeu majeur de la préservation du patrimoine automobile.</p>
      <p>Afin de palier à la disparition de certains plans, les outils de mesure 3D sont idéals pour garantir la pérennité de vos pièces de rechange.</p>
      <%= link_to 'Voir tous nos projets', 'projets.html', class: 'btn btn-home' %>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-4">
      <div class="img-container" id="numerisation">
        <img src="images/macro_scan.JPG" alt="numérisation" class="card-img">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-9">

    </div>
  </div>
</div>

<div class="container" id="home">
  <div class="center-title">
    <h1>A la recherche de la pièce manquante</h1>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2" id="tresor">
      <p>Si chaque voiture est un puzzle, alors chaque collectionneur est un chasseur de trésor.</p>
      <p>Obtenez la pièce introuvable qui manque pour fignoler votre voiture.</p>
      <p>Un centre de volant, un logo, un clignotant, un cabochon de feu arrière ?</p>
      <% link_to 'contact.html', class: 'home-link' do %>
        <p>Demandez un devis</p>
      <% end %>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-4">
      <div class="img-container" id="numerisation">
        <img src="images/cabochons_moules.JPG" alt="pièces de rechange" class="card-img">
      </div>
    </div>
  </div>
  <div class="center-title">
    <%= link_to 'Voir nos réalisations', 'realisations.html', class: 'btn btn-home' %>
  </div>
</div>
