<%= partial "components/banner" %>

<!-- <div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="manifesto">
      <h1>Notre credo</h1>
      <p>Nous croyons que chaque voiture ancienne mérite d'avoir les pièces de rechange à la mesure de sa valeur patrimoniale, sentimentale, technologique et esthétique.</p>
    </div>
    <div class="manifesto">
      <h1>Notre service</h1>
      <p>Grâce à notre savoir-faire en fabrication additive, nous re-créons vos pièces disparues.</p>
    </div>
  </div>
</div>
 -->
<%= partial "components/CCM" %>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="img-container">
      <img src="images/centre_alpine.JPG" alt="voiture de collection" class="card-img">
    </div>
  </div>
    <div class="col-xs-12 col-md-6">
    <div class="img-container">
      <img src="images/jante_alpine.JPG" alt="voiture de collection" class="card-img">
    </div>
  </div>
</div>

<div class="legende">
  Centre de roue chromé - Alpine A310
</div>


<div class="CCM-global">
  <h1>Notre savoir-faire</h1>
  <div class="row" style="background-color: rgb(250,250,250);">
    <div class="col-xs-12 col-md-6">
      <div class="card-text">
        <h2>
          Conception et modélisation
        </h2>
        <p>En fonction de vos exigences, nous concevons une pièce sur-mesure :<br>
        strictement identique à l'origine ou adapté à vos besoins.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-text">
        <h2>Fabrication et finition</h2>
        <p>Grâce à notre savoir-faire et à nos partenaires, vous avez le choix dans la finition :<br>
        aspect alu brossé, alu poli, chromé, peinture mate ou satiné...</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-text">
        <h2>Livraison et guarantie</h2>
        <p>Après livraison de votre pièce, nous nous assurons de son bon montage et de sa durabilité.<br>
        En cas de défaut, une autre pièce vous sera livrée.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="card-text">
        <h2 id="colored">
          Obtenez un devis
        </h2>
        <p>Posez vos questions et décrivez vos besoins <%= link_to "ici", "commande.html", class: "hypertext" %> ou par mail à contact.ubac@gmail.com</p>
      </div>
    </div>
  </div>
</div>







