<div class="banner">
  <div class="banner-content">
    <h1>Ubac</h1>
    <p>Imprimez en 3D les pièces qui n'existent plus</p>
    <%= link_to 'Commandez votre pièce', '#', class: 'btn btn-banner' %>
  </div>
</div>

<div class="jumbotron">
  <%= render "row" %>
</div>
