<%= partial "components/banner" %>

<div class="row" id="home">
  <div class="col-xs-12 col-md-6">
    <h1>Un service de fabrication<br>de pièces de rechange</h1>
    <p>Au service des clubs et des particuliers, nous fabriquons vos pièces décoratives.</p>
    <p>Pour toutes marques et pour tous modèles.<br>
    Pour une pièce sur-mesure à l'unité ou pour une série.</p>
    <p>Avec des matériaux et des procédés adaptés à vos besoins :</p>
    <p>Résines, plastiques, métaux.<br>
    Moulage, usinage, fabrication additive.</p>
    </p>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="img-container">
      <img src="images/banner_reduce.jpg" alt="voiture de collection" class="card-img">
    </div>
  </div>
</div>

<!-- <div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div id="manifesto">
        <p>Matra, SOVAM, Facel Vega... Citroën, Renault, Peugeot... Qu'il s'agisse d'aventures automobiles aussi fulgurantes qu'éphémères ou de grandes marques françaises,  </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
    </div>
  </div>
</div>
 -->
