---
layout: layout_2
---

<div class="realisations">
  <div class="row">
    <h1>Usinage de poignées de porte | Renault Vivastella</h1>
    <div class="col-xs-12 col-md-6">
      <div class="article">
        <p>La Renault Vivastella, voiture haut-de-gamme des années Trente, fait suite à sa grande soeur, la Reinastella, plus luxueuse.</p>
        <p>Avec ses huit cylindres et ses courbes élégantes, la Reinastella est la voiture officielle du Président de la République.</p>
        <p>Au lendemain du Krach boursier de 1929, Renault propose un modèle plus abordable, la Vivastella, avec sa fameuse étoile à cinq branches et son moteur six cylindres.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="images/Vivastella.jpg" alt="Renault Vivastella" class="card-img">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="images/poignee.JPG" alt="Poignée de porte" class="card-img">
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="article">
        <p>Elle sera produite à légèrement moins de deux-cents exemplaires. Du fait du faible volume de production, il est aujourd'hui difficile de trouver certaines pièces de rechange identiques à l'origine.</p>
        <p>En particulier, les poignées de porte, fabriquées par moulage en zamak (un alliage de zinc) autour d'un écrou en laiton, finissent par casser à cause de l'oxydation à l'interface des deux matériaux.</p>
        <p>Aujourd'hui, grâce au procédé d'électro-érosion, nous pouvons reproduire les poignées dans un seul alliage, ce qui permet d'obtenir une poignée identique à l'origine et plus résistante.</p>
      </div>
    </div>
  </div>
</div>
