---
layout: layout_2
---

<div class="realisations">
  <h1>Nos projets</h1>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <% link_to 'studebaker.html' do %>
        <div class="img-container carte">
          <div class="description">
            <h1>Numérisation d'une calandre</h1>
            <h2>Studebaker Hawk</h2>
          </div>
          <img src="images/studebaker.jpg" alt="voiture de collection" class="card-img">
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
      <% link_to 'enjo_matra.html' do %>
        <div class="img-container carte">
          <div class="description">
            <h1>Rétro-conception d'un enjoliveur de feu arrière</h1>
            <h2>Matra 530</h2>
          </div>
          <img src="images/enjo_matra.JPG" alt="voiture de collection" class="card-img">
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
      <% link_to 'poignee_vivastella.html' do %>
        <div class="img-container carte">
          <div class="description">
            <h1>Usinage de poignées de porte</h1>
            <h2>Renault Vivastella</h2>
          </div>
          <img src="images/enjo_matra.JPG" alt="voiture de collection" class="card-img">
        </div>
      <% end %>
    </div>
  </div>
</div>
