---
layout: layout_2
---

<div class="realisations">
  <h1>Un aperçu de nos réalisations</h1>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <% link_to 'rancho.html' do %>
        <div class="img-container carte">
          <div class="description">
            <h1>Cabochons de centre de roue</h1>
            <h2>Matra Rancho</h2>
          </div>
          <img src="images/cabochons_moules.JPG" alt="Matra Rancho" class="card-img">
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
      <% link_to 'willys.html' do %>
        <div class="img-container carte">
          <div class="description">
            <h1>Centres de roue</h1>
            <h2>Willys Whippet</h2>
          </div>
          <img src="images/centre_roue_whyllis.JPG" alt="Willys Whippet" class="card-img">
        </div>
      <% end %>
    </div>
  </div>
</div>
