---
layout: layout_2
---

<div class="realisations">
  <div class="row">
    <h1>Cabochons de centre de roue | Matra Rancho</h1>
    <div class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="images/cabochons_moules.JPG" alt="voiture de collection" class="card-img">
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="images/rancho_jante.JPG" alt="voiture de collection" class="card-img">
      </div>
    </div>
  </div>
  <div class="feedback">
    <h2>"Très bonne reproduction"</h2>
    <p>Vincent Nicouleau, collectionneur de Rancho</p>
  </div>

  <div class="row">
    <h1>Centre de roue | Willys whippet</h1>
    <div class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="images/centre_roue_whyllis.JPG" alt="voiture de collection" class="card-img">
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="images/RCA.png" alt="voiture de collection" class="card-img">
      </div>
    </div>
  </div>
  <div class="feedback">
    <p>Reims Classic Auto, garage spécialisé dans la restauration de voitures anciennes</p>
  </div>
</div>

