---
layout: layout_2
---

<div class="row" id="home">
  <h1>Cabochons de centre de roue | Matra Rancho</h1>
  <div class="col-xs-12">
    <div class="img-container">
      <img src="images/cabochons_moules.JPG" alt="voiture de collection" class="card-img">
    </div>
  </div>
  <div class="col-xs-12">
    <div class="img-container">
      <img src="images/rancho_jante.JPG" alt="voiture de collection" class="card-img">
    </div>
  </div>
  <h2>"Très bonne reproduction"</h2>
  <p>Vincent Nicouleau, collectionneur de Rancho</p>
</div>
