---
layout: layout_2
---

<div class="realisations">
  <div class="row">
    <h1>Numérisation d'un contour de calandre | Studebaker Hawk</h1>
    <div class="col-xs-12 col-md-6">
      <div class="article">
        <p>Un enjeu majeur de la préservation du patrimoine automobile réside dans la conservation des plans des pièces.<br>
      Pourtant, pour de nombreux modèles de voitures anciennes, ces plans n'existent plus.</p>
      <p>La numérisation par scanner 3D est une solution idéale pour réaliser la rétro-conception des pièces qui ne sont plus produites.</p>
      <p>La pièce numérisée permettra alors la réalisation aisée d'un moule ou d'un programme d'usinage pour envisager une fabrication en série.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="images/studebaker.jpg" alt="Studebaker vintage" class="card-img">
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="images/macro_scan.JPG" alt="Scan 3D" class="card-img">
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="img-container">
        <img src="images/zoom_scan.JPG" alt="Scanner 3D" class="card-img">
      </div>
    </div>
  </div>
</div>
